
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="input-field col s6">
            <label>Username</label>
            <input type="text" />
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label>Password</label>
            <input type="password" />
        </div>
    </div>
    <div class="row">
        <div class="input-field col s3">
            <input type="submit" />
        </div>
    </div>
</body>
</html>
